<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Bike Trips</title>
	
	
	<link rel="stylesheet" type="text/css" href="/static/css/templatemo_style.css">
	
 	{% block extrahead %} {% endblock %}

</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    
    	
        <div id="templatemo_banner">
        	<span class="banner_text"></span>
        </div>
    	
    </div> <!-- end of header -->
    
    <div id="templatemo_left_sidebar">
    	<div class="sb_box">
          <div class="content_title"><span></span>Categories</div>
            <ul class="tmo_list">
                <li><a href="/addtrip">Add Trip</a></li>
                {% if user %}
                <li><a href="/alltrips?mytrips=True">Show my trips</a></li>
                {% endif %}
                <li><a href="/alltrips">Show all trips</a></li>
            </ul>
		</div>        
       
    
    </div> <!-- end of left sidebar -->
    
    <div id="templatemo_content">
    	{% block content %}
        
        {% endblock %}
    
    </div> <!-- end of content -->
    <div id="templatemo_right_sidebar">
    	<div class="content_title"><span></span>Log in</div>
        <div class="news_box">
        	 {% if user %}
                <p>Hello, {{user}}, {{user.user_id()}}</p>
                <a href="{{ url|safe }}">{{ url_linktext }}</a>
                <br>

            {% else %}
                <p>Hello</p>
                <a href="{{ url|safe }}">{{ url_linktext }}</a>
            {% endif %}
            <div class="cleaner"></div>
		</div>
       
    </div> <!-- end of right sidebar -->
    
    
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
        Copyright © 2072 <a href="#">Your Company Name</a> | <a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_362_gift_red">Gift Red</a> by <a href="http://www.templatemo.com" rel="nofollow" target="_parent" title="free css templates">templatemo</a>
        <div class="cleaner"></div>
    </div>
</div>

</body>
</html>