{% extends "templates/base.html" %}
{% block extrahead %} 
<script src="/static/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
var cursor = "{{cursor.urlsafe()}}";

$(document).ready(function(){
  $("button").click(function(){
    $.post("/loadtrips",{'cursor':cursor},function(data,status){
    
      	var a = $('#l').html();
     	cursor = data.next_curs;
     	$('#l').html(a+data.trips);
     	if(data.more == false){
     		$('#loadb').hide();
      	}
    });
  });
});
</script>
{% endblock %}
{% block content %}
      <div class="content_title"><span></span>Trips</div>
      <label id="l">
      	{% for trip in trips %} 
        <div class="p_box">
        	<h2>{{trip.trip_name}}</h2>
        	<p><b>From:</b> <i>{{trip.from_date}}</i> <b>To:</b> <i>{{trip.to_date}}</i></p>
        	{% if trip.trip_avatar %}
          <div class="image_frame"><img src="/img?img_id={{trip.key.urlsafe()}}" alt="image 3" /></div>
          	{% else %}
          	<div class="image_frame"></div>
          	{% endif %}
       		{{trip.description}}<a href="/trip?trip_id={{trip.key.urlsafe()}}" class="read_more"></a>
          <div class="cleaner">Cities:
     	    {% for city in trip.cities %}
			 	<a href='/cityinfo?city={{city}}' >{{city}},</a> 
			{% endfor %}
          </div>
		</div>
       {% endfor %} 
       
   		</label>
   		{% if more %}
       
	   <button id="loadb">Load more</button>
       {% endif %}
{% endblock %}