{% extends "templates/base.html" %}
{% block extrahead %}
<script src="/static/js/showaddform.js"></script>
<script src="/static/js/showupdateform.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/additional-methods.js"></script>
<script type="text/javascript" src="/static/js/updateFormValidation.js"></script>

{% endblock %}
{% block content %}
      <div class="content_title"><span></span>Trip Details</div>
        <div class="p_box">
        	<h2 id="trip_name">{{trip.trip_name}}</h2>
        	<p><b>From:</b> <i>{{trip.from_date}}</i> <b>To:</b> <i>{{trip.to_date}}</i></p>
          	{% if trip.trip_avatar %}
          		<div class="image_frame"><img src="/img?img_id={{trip.key.urlsafe()}}" alt="image 3" /></div>
          	{% else %}
          		<div class="image_frame"></div>
          	{% endif %}
       		{{trip.description}}
       		<ol style="font-size:20px;">
				<li>Distance: <b> {{ "{0:0.2f}".format(trip.trip_statistic.total_distance)}} km</b></li>
				{% if trip.trip_statistic.total_time %}
				<li>Total time: <b>{{trip.trip_statistic.total_time}}</b></li>
				{% else %}
				<li>Total time: <b>/</b></li>
				{% endif %}
				<li>Avr speed: <b>{{"{0:0.2f}".format(trip.trip_statistic.avr_speed)}} km/h</b></li>
				<li>Total climb: <b>{{"{0:0.0f}".format(trip.trip_statistic.total_climb)}} m</b></li>
				{% if trip.trip_statistic.max_elev == -100 %}
				<li>Max elevation: <b>/</b></li>
				{% else %}
				<li>Max elevation: <b>{{"{0:0.0f}".format(trip.trip_statistic.max_elev)}} m</b></li>
				{% endif %}
				
			</ol>
          <div class="cleaner" id='cities'>Cities:
     	    {% for city in trip.cities %}
			 	<a href='/cityinfo?city={{city}}'  >{{city}},</a> 
			{% endfor %}
          </div>
         
          <div class="cleaner">
          <ul>
          	{% for i in range(num) %}
				<li><b>{{tracks[i].track_name}}</b>
				<br>{{blobs[i].filename}}
              		<a href="/stat?track_id={{tracks[i].key.urlsafe()}}">Statistic</a>
              		<a href="/serve/{{blobs[i].key()}}">Download track</a>
              		{% if user %}
              			{% if user.user_id() == trip_user %}
              				<a href="/deleteTrack?track_id={{tracks[i].key.urlsafe()}}">Delete track</a></li>
              			{% endif %}
              		{% endif %}
			{% endfor %}
			</ul>
          </div>
          {% if user %}
          	{% if user.user_id() == trip_user %}
          		<div id="templatemo_menu">
            		<ul>
              			<li><a style="cursor: pointer;" id="click" onclick="addfileform()" >Add Track</a></li>
              			<li><a style="cursor: pointer;" id="click1" onclick="addupdateform()">Update Trip</a></li>
              			<li><a id="clickDel" href="/deleteTrip?trip_id={{trip.key.urlsafe()}}" >Delete Trip</a></li>
              			
            		</ul>
        		</div> <!-- end of templatemo_menu -->
          	{% endif %}
          {% endif %}
		</div>
		{% if user %}
		<div id="contact_form" style="display: none;">
				<form action={{upload}} id = "fif"enctype="multipart/form-data"  method="post">
                        
					<label>Name:</label> <input type="text"  name="trip_name" value="" class="input_field" />
					<div class="cleaner h10"></div>
                	<label>Track(.gpx):</label>	<input type="file" name="file"  /> 
                	<input type="hidden" name="trip_id" value="{{trip.key.urlsafe()}}"/>
          			<div class="cleaner h10"></div>
					<input type="submit" value="Upload" id="submit" name="submit" class="submit_btn float_l" />
			    </form>
	  	<div class="cleaner h20"></div>
   	 	</div>
   	 	
   	 	<div id="contact_form"  name="updatediv" style="display: none;">
   	 			<form id='uf' action="/update" method="post">
					<label>Trip name:</label><input type="text" id="uname" name="change_trip_name" value="" class="input_field"/>
					<input type="hidden" id='trip_id' name="trip_id" value="{{trip.key.urlsafe()}}"/>
					<input type="submit" value="Update" id="updatename" name="updatename" class="submit_btn float_l" />
				</form>
				<form id='un' action="" method="post">
					<label>Cities:</label> <input type="text" id="ucities" name="change_cities" value="" class="input_field"/>
					<input type="hidden" id='trip_id' name="trip_id" value="{{trip.key.urlsafe()}}"/>
					<input type="submit" value="Update" id="updatecities" name="updatename" class="submit_btn float_l" />
				</form>
				
	  	<div class="cleaner h20"></div>
   	 	</div>
   	 	
   	 	{% endif %}
       
   
{% endblock %}